.Requestpage {
  padding: 3em 1em;
}
.Requestpage h1 {
  margin-bottom: 0.5em;
}
.Requestpage p {
  color: #7b7b7b;
}
.rooms-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 3em;
}

.room-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  .room-card {
    flex: 0 1 100%;
  }
}
